<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>About me</button>
    <button mat-menu-item>Contact me</button>
  </mat-menu>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Rock, Paper, Scissors
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    This is just a little game made by me while i was learning JavaScript. This was my first program with made with Java
    and my first program with JavaScript also.
  </mat-card-content>
    <mat-card-actions align="center">
      <a href="rock-paper-scissors-page" routerLink="rock-paper-scissors-page">
        <button mat-raised-button color="primary" id="rockPaperScissorsButton">Try!</button>
      </a>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Geometric areas
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    This was my second program made with JavaScript. Just a little app that can calculate the diferents areas of
    three geometric forms: triangle, rectangle and circle.
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" id="geometricAreasButton">Try!</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Calculator
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    This was my third program while i was learning JavaScript and DOM. A simple calculator with some added features.
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" id="calculatorButton">Try!</button>
  </mat-card-actions>
</mat-card>

